.treeview {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
	background: #fff;
	color: #333;
}
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}
.treeview .closed ul {display:none;}
.treeview .hit {
	background: url(images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

/* fix for IE6 */
* html .hit {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }
.treeview a {background:none;text-decoration:none;color:#000;}
.treeview a:visited {color:#000;}

.treeview li { background: url(images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.open, .treeview li.closed { background-position: 0 -176px; }

.treeview .closed-hit { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastopen, .treeview li.lastclosed { background-image: url(images/treeview-default.gif); }  
.treeview li.lastopen { background-position: 0 -111px }
.treeview li.lastclosed { background-position: -32px -67px }

.treeview div.lastopen-hit, .treeview div.lastclosed-hit { background-position: 0; }

.treeview  span.loading {
	background: url(images/ajax-loader.gif) 0 0 no-repeat;
	display: block;
	cursor: wait;
	padding: 1px 0 1px 16px;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file {padding: 1px 0 1px 16px; display: block; }
.filetree span.folder {cursor: pointer;background: url(images/folder.gif) 0 0 no-repeat; }
.filetree li.closed span.folder { background: url(images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(images/file.gif) 0 0 no-repeat; }
